.css-1u5ingn-MuiChartsAxis-root .MuiChartsAxis-line,
.css-1u5ingn-MuiChartsAxis-root .MuiChartsAxis-tick {
    stroke: none !important;
}

.css-ez9t3a-MuiResponsiveChart-container>svg,
.css-1he8nsm-MuiResponsiveChart-container>svg {
    transform: translateY(-20px);
}

.MuiChartsAxis-directionY .MuiChartsAxis-tickLabel {
    transform: translateY(-5px);
}

.MuiChartsAxis-root.MuiChartsAxis-directionX.MuiChartsAxis-bottom.css-1u5ingn-MuiChartsAxis-root {
    transform: translateY(185px);

}

.MuiChartsAxis-directionX .MuiChartsAxis-tickLabel {
    transform: translateX(-10px) rotateZ(300deg);
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-mknuq6-MuiTypography-root {
    font-size: 14px;
}

.MuiTypography-root.MuiTypography-body2.MuiListItemText-secondary.css-1caa6uf-MuiTypography-root {
    font-size: 11px;
}

.light .css-1u5ingn-MuiChartsAxis-root .MuiChartsAxis-tickLabel {
    fill: #BBBBBB !important;
}

.dark .css-1u5ingn-MuiChartsAxis-root .MuiChartsAxis-tickLabel {
    fill: white !important;
}

/* .custom::-webkit-scrollbar {
    width: 6px;
    border-radius: 25px;
}

.custom::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 0.4);
}

.custom::-webkit-scrollbar-thumb {
    background: #CDCDCD;
    border-radius: 8px;
    background-clip: padding-box;
}

.custom::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
} */

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-size: 13px !important;
}

.MuiBox-root .css-f1c7fw {
    position: relative;
}

.react-transform-wrapper.transform-component-module_wrapper__SPB86 {
    width: 100%;
    height: 90%;
}

.tools{
    float: right;
    background: #FFFFFF;
    margin: 5px;
    border: 1px solid #D7D7D7;
    display: flex;
    justify-content: flex-end;
    padding: 3px;
}

.tools .scale{
    border: 1px solid #D7D7D7;
    font-size: 13px;
    padding: 0 7px;
    display: flex;
    align-items: center;
}

.tools button {
    border: 0;
    background-color: transparent;
    color: #7B7B7B;
    display: flex;
    align-items: center;
}

.colorPicker {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px;
    border: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.colorPicker:hover {
    border: 4px solid #e6e6e6;
    border-style: double;
}

.active-mode {
    border: 4px solid #e6e6e6;
    border-style: double;
    transform: scale(1.5);
}

.widget-form-group {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.active-form-group {
    border: 1px solid #5E5ADB;
}

.widget-button-group {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.widget-zoom-container {
    margin: 10px 15px 0 0;
    height: 97%;
    background: #F8F8FF;
    border: 1px solid #E0DFF8;
    border-radius: 6px;
    position: relative;
}

.widget-color-button-group {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light .css-6a59r4-MuiButtonBase-root-MuiIconButton-root {
    color: #BBBBBB;
}

.primary .css-6a59r4-MuiButtonBase-root-MuiIconButton-root {
    color: rgba(255, 255, 255, 0.65)
}

.dark .css-6a59r4-MuiButtonBase-root-MuiIconButton-root {
    color: rgb(187, 187, 187);
}



.light .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    color: #5E5ADB;
}

.primary .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    color: #F1F1F2;
}

.dark .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    color: rgb(255, 255, 255);
}

.light .css-1ux0s4z-MuiInputBase-root-MuiInput-root-MuiSelect-root {
    color: #5E5ADB;
}

.primary .css-1ux0s4z-MuiInputBase-root-MuiInput-root-MuiSelect-root {
    color: #F1F1F2;
}

.dark .css-1ux0s4z-MuiInputBase-root-MuiInput-root-MuiSelect-root {
    color: rgb(255, 255, 255);
}

.light .css-8tofx3-MuiButtonBase-root-MuiTab-root {
    color: #BBBBBB
}

.light .css-8tofx3-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #5E5ADB
}

.light .css-1aquho2-MuiTabs-indicator {
    background-color: #5E5ADB;
}

.primary .css-8tofx3-MuiButtonBase-root-MuiTab-root {
    color: rgba(255, 255, 255, 0.65);
}

.primary .css-8tofx3-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #F1F1F2
}

.primary .css-1aquho2-MuiTabs-indicator {
    background-color: #ffffff;
}


.dark .css-8tofx3-MuiButtonBase-root-MuiTab-root {
    color: rgb(187, 187, 187);
}

.dark .css-8tofx3-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: rgb(255, 255, 255)
}

.dark .css-1aquho2-MuiTabs-indicator {
    background-color: #ffffff;
}

.light .MuiDivider-root.MuiDivider-fullWidth.css-1wd0uuc-MuiDivider-root {
    background-color: #BBBBBB;
}

.primary .MuiDivider-root.MuiDivider-fullWidth.css-1wd0uuc-MuiDivider-root {
    background-color: #e1e1e1;
}

.dark .MuiDivider-root.MuiDivider-fullWidth.css-1wd0uuc-MuiDivider-root {
    background-color: #ffffffa6;
}

.dark .meta-data-desc {
    color: #ffffffa6;
}

.dark .meta-data-number {
    color: #f1f1f2;
}

.meta-data-item {
    padding-left: 5px;
    display: flex;
    flex-direction: column-reverse
}

.table-head-cell {
    font-size: 11px !important;
    padding: 15px 5px 5px 5px !important;
    border: 0 !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    opacity: 0.7;
}

.light .table-head-cell {
    color: #5E5ADB
}

.primary .table-head-cell {
    color: #F1F1F2
}

.dark .table-head-cell {
    color: #F1F1F2
}

.light .has-border {
    border-right: 1px solid #f6f6f6 !important;
}

.primary .has-border {
    border-right: 1px solid rgba(246, 246, 246, 0.1) !important;
}

.dark .has-border {
    border-right: 1px solid rgba(246, 246, 246, 0.1) !important;
}

.table-head-cell.first-cell {
    opacity: 1;
}

.table-body-cell {
    font-size: 11px !important;
    padding: 5px !important;
    border: 0 !important;
}

.light .table-body-cell {
    color: #474747;
}

.primary .table-body-cell {
    color: rgba(255, 255, 255, 0.65);
}

.dark .table-body-cell {
    color: rgba(255, 255, 255, 0.65);
}

.light .table-body-cell.last-cell {
    font-weight: bold;
    color: #393939;
    padding: 5px 5px 10px 5px !important;
}

.primary .table-body-cell.last-cell {
    font-weight: bold;
    color: #f4f4f4e6;
    padding: 5px 5px 10px 5px !important;
}

.dark .table-body-cell.last-cell {
    font-weight: bold;
    color: #f4f4f4e6;
    padding: 5px 5px 10px 5px !important;
}


.light .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
    background-color: #5E5ADB;
}


.primary .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
    background-color: #ffffff;
}


.dark .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
    background-color: #ffffff;
}

.tabs-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
}

.light .tabs-header {
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.primary .tabs-header {
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.dark .tabs-header {
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
}

.light .dropdown-header {
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.primary .dropdown-header {
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.dark .dropdown-header {
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.widget-box {
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.light.widget-box {
    background-color: #FFFFFF;
}

.primary.widget-box {
    background-color: #5E5ADB;
}

.dark.widget-box {
    background-color: rgba(40, 40, 40, 1);
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1bugw7r-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 10px;
}

.zoombox-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoombox-component-title {
    padding: 5px;
}

.widget-icon-box {
    padding: 9px;
    border: 1px solid #E0DFF8;
    border-radius: 6px;
    width: 45px;
    height: 45px;
}

.combine-all .widget-box {
    height: 212px;
}


.combine-all .bar-chart {
    border-radius: 15px 0px 0px 15px;
    border-left: none;
}

.combine-all .product-table {
    border-radius: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.combine-all .desc-box {
    border-radius: 0 15px 15px 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.pie-chart {
    height: 212px
}



.size-2-x-1 .css-l0h214-MuiResponsiveChart-container {
    height: 390px !important;
}

.main-container {
    display: flex;
    margin-top: 60px;
    margin-left: 70px;
    padding: 30px;
}

.size-3-x-1 .widget-box {
    height: 636px;
}

.zoombox-component-container .widget-box {
    max-width: 220px;
    min-height: 200px;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: initial !important;
}

.active-page{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9EDF5;
    border-radius: 5px;
}