.App {
  /* text-align: center; */
  background-color: #F4F4FF;
  font-size: 11px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 25px;
  margin: 2px;
}

*::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.4);
}

*::-webkit-scrollbar-thumb {
  background: #CDCDCD;
  border-radius: 8px;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

